/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #6d6d6d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  transform: translateZ(0);
}

section {
  display: flex;
  height: 100vh;
}

h1 {
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: 2px;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}

a, a:visited,a:focus {
  text-decoration: none;
  color: rgba(0,0,0,0.9);
}

pre {
  padding: 24px;
  margin: 24px 0;
  background-color: rgba(0,0,0,0.1);
}

.poly-input, .poly-input:focus {
  padding: 0 8px;
  margin-bottom: 24px;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  border: 1px solid rgba(0,0,0,0.8);
  box-shadow: none;
  outline: none;
  width: 228px;
}

a:hover {
  text-decoration: underline;
}

#welcome {
  flex-flow: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0,0,0,0.1);
  color: rgba(0,0,0, 0.8);
  text-shadow: none;
}

#welcome-wrapper {
  display: flex;
  flex-flow: column;
  flex: 1 100%;
  justify-content: center;
}

#welcome-wrapper > * {
  text-align: center;
  margin-bottom: 10px;
}

#polymer-logo {
  width: 363px;
  height: 250px;
  background-image: url("/images/p-logo.png");
  background-size: cover;
  margin: 0 auto;
}

section .wrapper {
  margin: 0 auto;
  width: 500px;
}

.filter-card {
  margin: 42px 0;
}

